.thumbnail img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

h1.new-edit {
    text-align: center;
}

.new-edit.form-wrapper {
    width: 40%;
    margin: 35px auto;
}

#campground-grid {
    display: flex;
    flex-wrap: wrap;
}
